element.style {
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: transparent;
}

@media (min-width: 48rem) {
    .md\:text-\[12vw\] {
        font-size: 12vw;
    }
}

.tracking-tighter {
    --tw-tracking: var(--tracking-tighter);
    letter-spacing: var(--tracking-tighter);
}

.font-black {
    --tw-font-weight: var(--font-weight-black);
    font-weight: var(--font-weight-black);
}

.leading-none {
    --tw-leading: 1;
    line-height: 1;
}

.text-center {
    text-align: center;
}

@supports (color:color-mix(in lab, red, red)) {
    * {
        outline-color: 
color-mix(in oklab, var(--ring) 50%, transparent);
    }
}

* {
    border-color: var(--border);
}

.text-white {
    color: var(--color-white);
}

.font-sans {
    font-family: var(--font-sans);
}

.geist_mono_8d43a2aa-module__8Li5zG__variable {
    --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}

.geist_a71539c9-module__T19VSG__variable {
    --font-geist-sans: "Geist", "Geist Fallback";
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@supports (color:lab(0% 0 0)) {
    :root {
        --background: lab(100% 0 0);
        --foreground: lab(2.86037% .455312 .568903);
        --card: lab(100% 0 0);
        --card-foreground: lab(2.86037% .455312 .568903);
        --popover: lab(100% 0 0);
        --popover-foreground: lab(2.86037% .455312 .568903);
        --primary: lab(57.1026% 64.2584 89.8886);
        --primary-foreground: lab(97.7008% 1.53735 5.90649);
        --secondary: lab(96.1634% .0993311 -.364041);
        --secondary-foreground: lab(8.30603% .618205 -2.16572);
        --muted: lab(96.5286% -.0991821 .364268);
        --muted-foreground: lab(48.1164% 2.35701 4.26852);
        --accent: lab(96.5286% -.0991821 .364268);
        --accent-foreground: lab(9.03835% 1.15298 1.92955);
        --destructive: lab(48.4493% 77.4328 61.5452);
        --border: lab(91.055% .663072 .865579);
        --input: lab(91.055% .663072 .865579);
        --ring: lab(66.2166% 1.88044 3.20326);
        --chart-1: lab(80.8059% 21.7313 50.4455);
        --chart-2: lab(64.272% 57.1788 90.3583);
        --chart-3: lab(57.1026% 64.2584 89.8886);
        --chart-4: lab(46.4615% 57.7275 70.8507);
        --chart-5: lab(37.1566% 46.6433 50.5562);
        --sidebar: lab(98.2686% -.0991821 .364304);
        --sidebar-foreground: lab(2.86037% .455312 .568903);
        --sidebar-primary: lab(57.1026% 64.2584 89.8886);
        --sidebar-primary-foreground: lab(97.7008% 1.53735 5.90649);
        --sidebar-accent: lab(96.5286% -.0991821 .364268);
        --sidebar-accent-foreground: lab(9.03835% 1.15298 1.92955);
        --sidebar-border: lab(91.055% .663072 .865579);
        --sidebar-ring: lab(66.2166% 1.88044 3.20326);
    }
}

html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
}

@supports (color:lab(0% 0 0)) {
    :root, :host {
        --color-orange-200: lab(88.4871% 9.94918 28.8378);
        --color-orange-300: lab(80.8059% 21.7313 50.4455);
        --color-orange-400: lab(70.0429% 42.5156 75.8207);
        --color-orange-500: lab(64.272% 57.1788 90.3583);
        --color-orange-600: lab(57.1026% 64.2584 89.8886);
        --color-emerald-300: lab(83.9203% -48.7124 13.8849);
        --color-emerald-400: lab(75.0771% -60.7313 19.4147);
        --color-emerald-500: lab(66.9756% -58.27 19.5419);
        --color-cyan-300: lab(85.3886% -36.7636 -21.5716);
        --color-cyan-400: lab(76.6045% -40.9406 -29.6231);
        --color-cyan-500: lab(67.805% -35.3952 -30.2018);
        --color-blue-400: lab(65.0361% -1.42065 -56.9802);
        --color-blue-500: lab(54.1736% 13.3369 -74.6839);
        --color-purple-300: lab(78.3298% 26.2195 -34.9499);
        --color-purple-400: lab(63.6946% 47.6127 -59.2066);
        --color-purple-500: lab(52.0183% 66.11 -78.2316);
        --color-fuchsia-300: lab(78.5378% 39.3533 -32.9615);
        --color-fuchsia-400: lab(66.1178% 66.0652 -52.4733);
        --color-fuchsia-500: lab(56.4256% 83.132 -64.639);
        --color-rose-200: lab(86.806% 19.1909 4.07754);
        --color-rose-300: lab(76.6339% 38.3549 9.68835);
        --color-rose-400: lab(64.4125% 63.0291 19.2068);
        --color-rose-500: lab(56.101% 79.4328 31.4532);
        --color-stone-50: lab(98.2686% -.0991821 .364304);
        --color-stone-100: lab(96.5286% -.0991821 .364268);
        --color-stone-200: lab(91.055% .663072 .865579);
        --color-stone-300: lab(84.7909% .928015 1.59738);
        --color-stone-400: lab(66.2166% 1.88044 3.20326);
        --color-stone-500: lab(48.1164% 2.35701 4.26852);
        --color-stone-600: lab(35.5168% 1.08604 4.07829);
        --color-stone-700: lab(27.3812% 1.32917 3.57789);
        --color-stone-800: lab(15.0353% 1.96067 1.53427);
        --color-stone-900: lab(9.03835% 1.15298 1.92955);
        --color-stone-950: lab(2.86037% .455312 .568903);
        --color-default-theme: rgba(93, 6, 159, 1);
    }
}

:root, :host {
    --font-sans: var(--font-sans);
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --container-7xl: 80rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1 / .75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --tracking-tighter: -.05em;
    --tracking-tight: -.025em;
    --tracking-wide: .025em;
    --tracking-wider: .05em;
    --tracking-widest: .1em;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-relaxed: 1.625;
    --ease-out: cubic-bezier(0, 0, .2, 1);
    --ease-in-out: cubic-bezier(.4, 0, .2, 1);
    --animate-pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    --blur-sm: 8px;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-geist-mono);
}

.bg-orange-500 {
    background-color: var(--color-orange-500);
}

.bg-default-theme {
    background-color: var(--color-default-theme);
}

.origin-left {
    transform-origin: 0;
}

.h-1 {
    height: calc(var(--spacing) * 1);
}

.left-0 {
    left: calc(var(--spacing) * 0);
}

.right-0 {
    right: calc(var(--spacing) * 0);
}

.top-1\/2 {
    top: 50%;
}

.top-60 {
    top: 60%;
}

.absolute {
    position: absolute;
}

.border-2 {
    border-width: 2px;
}

.border-default-theme {
    border-color: var(--color-default-theme);
}

.br-1 {
    border-radius: 1px;
}

.br-2 {
    border-radius: 2px;
}
