.z-500 {
    z-index: 500;
}

.z-1000 {
    z-index: 1000;
}

.z-5000 {
    z-index: 5000;
}

.z-10000 {
    z-index: 10000;
}

.dynamic-header {
    width: 98%;
    height: 52px;
    margin-top: 1.25rem;
    border: none;
}

.h-full {
    height: 100%
}

.home-link {
    font-size: 1.5rem;
    width: 100%;
    color: white;
}

.home-link:hover {
    color: rgb(146, 7, 253);
    transition: color 0.3s;
}

.translate-icon {
    cursor: pointer;
    font-size: 1.5rem;
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    border-radius: 3px;
    padding: 0.75rem 1rem 0.75rem 0;
}

.translate-container {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.translate-icon * {
    user-select: none;
}

.translate-icons {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: rgba(93, 6, 159, 1);
    border-radius: 3px;
    padding: 0.75rem 1rem 0.75rem 0.75rem;
    gap: 1rem;
}

.translate-icons--active {
    overflow: visible;
}

.top-n15 {
    position: relative;
    top: -15%;
}

.home-link--active {
    margin-left: 2.5rem;
    font-size: 2.5rem;
    color: #ff4d5a;
}

@font-face {
  font-family: 'Material Icons';
  src: url(https://fonts.gstatic.com/s/materialicons/v145/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    position: relative;
    top: -15%;
}

.px-1 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-1 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.gap-4 {
    gap: 2rem;
}

._80pc {
    width: 80%;
}

._20pc {
    width: 20%;
}
