@media (min-width: 48rem) {
	.md\:px-12 {
		padding-inline: calc(var(--spacing) * 12);
	}
}

@media (min-width: 48rem) {
	.md\:grid-cols-12 {
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

.py-32 {
	padding-block: calc(var(--spacing) * 32);
}

.px-6 {
	padding-inline: calc(var(--spacing) * 6);
}

.gap-x-6 {
	column-gap: calc(0.25rem * 6);
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid {
	display: grid;
}

.z-10 {
	z-index: 10;
}

.relative {
	position: relative;
}

@media (min-width: 48rem) {
	.md\:mb-0 {
		margin-bottom: calc(var(--spacing) * 0);
	}
}

@media (min-width: 48rem) {
	.md\:col-span-2 {
		grid-column: span 2 / span 2;
	}
}

.uppercase {
    text-transform: uppercase;
}

.text-neutral-500 {
	color: lab(48.496% 0 0);
}

.tracking-widest {
	--tw-tracking: var(--tracking-widest);
	letter-spacing: var(--tracking-widest);
}

.text-sm {
	font-size: var(--text-sm);
	line-height: var(--tw-leading, var(--text-sm--line-height));
}

.font-mono {
	font-family: var(--font-mono);
}

.mb-8 {
	margin-bottom: calc(var(--spacing) * 8);
}

.col-span-1 {
	grid-column: span 1 / span 1;
}

.text-neutral-800 {
    color: var(--color-neutral-800);
}

.font-light {
    --tw-font-weight: var(--font-weight-light);
    font-weight: var(--font-weight-light);
}

.leading-relaxed {
    --tw-leading: var(--leading-relaxed);
    line-height: var(--leading-relaxed);
}

.text-lg {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
}

:where(.space-y-8>:not(:last-child)) {
	--tw-space-y-reverse: 0;
	margin-block-start: calc(calc(var(--spacing) * 8) * var(--tw-space-y-reverse));
	margin-block-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--tw-space-y-reverse)));
}

@media (min-width: 48rem) {
    .md\:text-\[4\.5vw\] {
        font-size: 4.5vw;
    }
}

.text-neutral-900 {
    color: var(--color-neutral-900);
}

.text-neutral-400 {
    color: var(--color-neutral-400);
}

.tracking-tighter {
    --tw-tracking: var(--tracking-tighter);
    letter-spacing: var(--tracking-tighter);
}

.font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
}

.leading-\[0\.9\] {
    --tw-leading: .9;
    line-height: .9;
}

.text-\[10vw\] {
    font-size: 10vw;
}

.font-sans {
    font-family: var(--font-sans);
}

.mb-12 {
    margin-bottom: calc(var(--spacing) * 12);
}

.bg-white {
    background-color: var(--color-white);
}

@supports (color:color-mix(in lab, red, red)) {
    .border-black\/5 {
        border-color: color-mix(in oklab, var(--color-black) 5%, transparent);
    }
}

.border-black\/5 {
    border-color: #0000000d;
}

.border-t {
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
}

.overflow-hidden {
    overflow: hidden;
}

.w-full {
    width: 100%;
}

.min-h-\[60vh\] {
    min-height: 60vh;
}